[Unit]
Description=A rule based proxy in Go for %i.
After=network.target

[Service]
User=root
Group=root
Restart=on-abort
ExecStart=/home/cory/tools/clash-for-linux/start.sh
KillMode=none

[Install]
WantedBy=multi-user.target
